#header-2 {
    position: relative;
    margin-top: 40px;
}

#header-2 > .left-icon {
    position: absolute;
    left: -50px;
    top: -15px;
}

#header-2 > .right-icon {
    position: absolute;
    right: 0;
    top: -15px;
}

#header-2 > #logo {
    position: absolute;
    top: -30px;
    left: 45%;
}

#header-2 li {
    list-style: none;
    display: inline-block;
}

.header-menu {
    position: relative;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
}

#header-menu ul>li>a{
    font-weight: 500;
}

#header-menu {
    border-bottom: black solid;
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }