/* #image-holder {
    height: 100%;
    width: 70px;
} */
.thumb-image {
    max-height: 150px;
    height: auto;
    width: auto;
}

#image-holder-mini {
    /* height: 200px; */
    width: 100%;
}

.thumb-image-mini {
    height: auto;
    width: 100px;
}

.image-holder1 {
    height: 100%;
    width: 300px;  
}